<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- load bootstrap-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- Our JS -->
    <script type="text/javascript"
    src="{{ url_for('static', filename='js/home.js') }}"></script>
    <!-- Title for the webpage -->
    <title>monsternames-api/Home</title>
  </head>
  <body>

    <!-- Sidebar -->
    <div style="position: fixed; top: 0; width: 20%;">
      <div>
        <h5 class="font-weight-bold text-center">monsternames-api</h5>
      </div>
      <ul class="nav nav-sidebar">
          <li class="active"><a href= "{{ url_for('home') }}" >Home</a></li>
          <li><a href="{{ url_for('projectsThatUseThis') }}">Projects That Use This</a></li>
          <li><a href="https://github.com/Sudoblark/monsternames-api">Git Repo</a></li>
          <li><a href= "{{ url_for('endpoints') }}" >Endpoints</a></li>
          <li><a href="{{ url_for('contributionGuide') }}" >Contribution Guide</a></li>
          <li><a href="{{ url_for('addNames') }}" >Add Names</a></li>
      </ul>
    </div>

    <!-- Main body -->
    <div class="container-fluid" style="margin-left: 25%;">
    <div class="row">
    <div class="col-sm-9 col-md-10 main">
      <!-- Header and first para -->
      <h3> Open source monster name generation for all your creative needs.</h3>
      <p>Simply use the form below to generate random names. If you're interested in using the api programmatically then check out the <a href= "{{ url_for('endpoints') }}" >endpoints</a>  section, you can also <a href= "{{ url_for('addNames') }}" >add names</a>  through the website if you want. Though if programming is more your thing check out the <a href="{{ url_for('contributionGuide') }}" >contribution guide</a>. </p>
      <!-- Example interaction with endpoints -->
      <br>
      <form class="form-inline">
        <div class="form-group">
          <label for="endpointSelect">Monster</label>
          <select id="endpointSelect" class="form-control p-3">
            <option value="https://EXPECTED_HOST/api/v1.0/goatmen">Goatmen</option>
            <option value="https://EXPECTED_HOST/api/v1.0/goblin">Goblin</option>
            <option value="https://EXPECTED_HOST/api/v1.0/ogre">Ogre</option>
            <option value="https://EXPECTED_HOST/api/v1.0/orc">Orc</option>
            <option value="https://EXPECTED_HOST/api/v1.0/skeleton">Skeleton</option>
            <option value="https://EXPECTED_HOST/api/v1.0/troll">Troll</option>
            <!-- Programmatically add stuff here -->
          </select>
        </div>
        <button type="button" class="btn btn-default" id="apiGetButton" onclick="apiGet()">GET!</button>
      </form> 
      <!-- Display results of interaction with endpoint -->
      <br><br>
        <pre style="max-width: 80%;" id="apiGetResult">
{
    "firstName": "Pot",
    "fullName": "Pot The ugly",
    "lastName": "The ugly"
}
        </pre>
      </div>
  </div>
</div>
</div>
</body>
</html>