<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- load bootstrap-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <!-- Title for the webpage -->
    <title>Contribute</title>
  </head>
  <body>

    <!-- Sidebar -->
    <div style="position: fixed; top: 0; width: 20%;">
      <div>
        <h5 class="font-weight-bold text-center">monsternames-api</h5>
      </div>
      <ul class="nav nav-sidebar">
          <li class="active"><a href= "{{ url_for('home') }}" >Home</a></li>
          <li><a href="https://github.com/Sudoblark/monsternames-api">Git Repo</a></li>
          <li><a href= "{{ url_for('endpoints') }}" >Endpoints</a></li>
          <li><a href="{{ url_for('contribute') }}" >Contribute</a></li>
      </ul>
    </div>

    <!-- Main body -->
    <div class="container-fluid" style="margin-left: 25%;">
    <div class="row">
      <div class="col-sm-9 col-md-10 main">
        <!-- Main body for content -->
        <div>
          <h3>How to contribute to the silliness</h3>
          <p>To contribute you first need to obtain an API key from myself (email bclark@sudoblark.com).</p>
          <p>Once you have this key you can then authenticate POST requests. POST requests to specific endpoints allow you to expand the list of possible first/last names for enemies.</p>
          <p>Below I'll list the endpoints, go over some POST notes then show examples to help you get started.</p>
          </p>
        </div>

        <div>
          <br><h4>Available endpoints</h4>
          <table class="table"> 
            <thead>
              <tr>
                <th scope="col">Endpoint</th>
                <th scope="col">Key/pair required</th>
              </tr>
              <tbody id="endpointTBody">
                <tr>
                  <td>/api/v1.0/goatmen/firstName</td>
                  <td>firstName</td>
                </tr>
                <tr>
                  <td>/api/v1.0/goblin/firstName</td>
                  <td>firstName</td>
                </tr>
                <tr>
                  <td>/api/v1.0/goblin/lastName</td>
                  <td>lastName</td>
                </tr>
                <tr>
                  <td>/api/v1.0/ogre/firstName</td>
                  <td>firstName</td>
                </tr>
                <tr>
                  <td>/api/v1.0/orc/firstName</td>
                  <td>firstName</td>
                </tr>
                <tr>
                  <td>/api/v1.0/orc/lastName</td>
                  <td>lastName</td>
                </tr>
                <tr>
                  <td>/api/v1.0/skeleton/firstName</td>
                  <td>firstName</td>
                </tr>
                <tr>
                  <td>/api/v1.0/skeleton/lastName</td>
                  <td>lastName</td>
                </tr>
                <tr>
                  <td>/api/v1.0/troll/firstName</td>
                  <td>firstName</td>
                </tr>
                <tr>
                  <td>/api/v1.0/troll/lastName</td>
                  <td>lastName</td>
                </tr>
              </tbody>
            </thead>
          </table> 
        </div>

        <div>
          <h4>POST Notes</h4>
          <p>All post requests require an x-api-key header and relevent key/value pairs in the body</p>
          <p>Failure to provide an x-api-key will result in an error similar to below:</p>

  <pre class=".pre-scrollable" style="max-width: 80%;">{
    "error": "unauthorised.", 
    "errorMessage": "no x-api-key provided"
  }</pre>

  <p>Failure to provide a valid x-api-key will result in an error similar to below:</p>

  <pre class=".pre-scrollable" style="max-width: 80%;">{
    "error": "unauthorised.", 
    "errorMessage": "unknown x-api-key provided"
  }</pre>

  <p>Failure to provide required key/value pairs in the body will result to an error similar to below:</p>

  <pre class=".pre-scrollable" style="max-width: 80%;">{
    "error": "Invalid key error.", 
    "errorMessage": "Ensure firstName key/value is in body"
  }</pre>

  <p>Attempting to create an entry which already exists will return an error similar to below:</p>

  <pre class=".pre-scrollable" style="max-width: 80%;">{
    "error": "Duplicate record", 
    "message": "Record already exists"
  }</pre>

  <p>Successful creation of a new record will result in a response similar to the below:</p>

  <pre class=".pre-scrollable" style="max-width: 80%;">
  {
    "lastName": "Kornertabel", 
    "message": "New record created"
  }
  </pre>
  <p>All POST requests are audited in the postaudit table. The purpose of this information is just so I can track how many awesome things have been contributed, and by who, so i can give shoutouts and make pretty graphs.</p>

<pre><code>
mysql> select * from postaudit;
+----+-----------+--------------------------------------------+
| id | user      | message                                    |
+----+-----------+--------------------------------------------+
|  1 | Ben Clark | GoatmenFirstName record "Fluffy" created   |
+----+-----------+--------------------------------------------+
1 row in set (0.05 sec)

mysql> 
</code></pre>
        </div>

        <div>
          <br><h4>Examples</h4>
          <p>Mass upload using bash</p>
  <pre class=".pre-scrollable" style="max-width: 80%;">## declare an array variable
  declare -a goatmenarr=("Squiggles" "Fluffy" "Sparkles" "Rover" "Skip" "Dots" "Mittens" "Trixie" "Bubbles" "Giggles" "Floof" "Peaches" "Oreo" "Pebbles" "Polly" "Precious")

  ## now loop through the above array
  for i in "${goatmenarr[@]}"
  do
    curl -d "firstName=$i" -X POST http://monsternames-api/api/v1.0/goatmen/firstName -H "x-api-key:MU123"
  done</pre>
        </div>


      </div>
    </div>
    </div>



  </body>
</html>