<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- load bootstrap-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <!-- Our JS -->
      <script type="text/javascript"
      src="{{ url_for('static', filename='js/endpoints.js') }}"></script>
    <!-- Title for the webpage -->
    <title>Endpoints</title>
  </head>
  <body>

    <!-- Sidebar -->
    <div style="position: fixed; top: 0; width: 20%;">
      <div>
        <h5 class="font-weight-bold text-center">monsternames-api</h5>
      </div>
      <ul class="nav nav-sidebar">
          <li class="active"><a href= "{{ url_for('home') }}" >Home</a></li>
          <li><a href="https://github.com/Sudoblark/monsternames-api">Git Repo</a></li>
          <li><a href= "{{ url_for('endpoints') }}" >Endpoints</a></li>
          <li><a href="{{ url_for('contribute') }}" >Contribute</a></li>
      </ul>
    </div>

    <!-- Main body -->
    <div class="container-fluid" style="margin-left: 25%;">
      <div class="row">
        <div class="col-sm-9 col-md-10 main">
          <!-- Main body for content -->
          <div>
            <h3>But how do i get these silly names?</h3>
            <p>Let us see how we can get silly names out of this API. Have a look at how to <a href="{{ url_for('contribute') }}" >contribute</a> if you're thinking of adding to the database.</p>
        </div>

        <div>
          <p>
            You can query this API like any other RESTAPI on the interwebs.
        
            If you're not looking to query the RESTAPI in a program then simply browsing to the available endpoint is enough to get a name, you can also use the tool on the <a href="{{ url_for('home') }}" >home</a> page of this website to generate names through a GUI.
          
            However, if you do intend on using this in any sort of programming project then I've included a few examples at the bottom of the page to help you get started.
          </p>
        </div>

        <br><br><h3>Available endpoints</h3>
        <table class="table"> 
          <thead>
            <tr>
              <th scope="col">Endpoint</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
            </tr>
            <tbody id="endpointTBody">

            </tbody>
          </thead>
        </table>      


        <div>
          <p>
            <br><br><h4>Formatting</h4>
            All GET endpoints return JSON. A successful GET request returns one of two JSON models...
            <br><br>- If the endpoint returns a first and last name:<br><br>
            <pre class=".pre-scrollable" style="max-width: 80%;">
{
  "firstName": "Mick", 
  "fullName": "Mick Dramatic", 
  "lastName": "Dramatic"
}</pre>
            <br><br>- If the endpoint returns just a first name:<br><br>
            <pre class=".pre-scrollable" style="max-width: 80%;">
{
  "firstName": "Oreo"
}</pre>
          <br><br><h4>Error handling</h4>
          <p>
            If you query an unregistered endpoint then the following JSON is returned:

            <pre class=".pre-scrollable" style="max-width: 80%;">
{
  "error":"Path not found, consult repo for valid endpoints",
  "repo":"https://github.com/Sudoblark/monsternames-api"
}</pre>

            Whilst if there any errors in the server's handling of the request then the following JSON is returned:

            <pre class=".pre-scrollable" style="max-width: 80%;">
{
  "error" : "Unhandled error.",
  "errorMessage" : "Unknown error occured"
}</pre>

            If this happens please log an issue against the <a href="https://github.com/Sudoblark/monsternames-api">repo</a>, along with steps on how to reproduce your the error and when you attempted the query.

          </p>
        </p>
      </div>


      <div>
        <br><br><h3>Programming Examples</h3>
          <!-- JavaScript example -->
          <h4>JavaScript</h4>
          <p>Note: This is how I've actually programmed the previous GET button on the home page</p><br>
          <pre class=".pre-scrollable" style="max-width: 80%;"><code>// function called on home page to get example restapi output
function apiGet() {
    // get url from page
    let url = document.getElementById('endpoint').innerHTML
    console.log(url)
    fetch(url)
    .then((resp) => resp.json()) // Transform the data into json
    .then(function(data) {
      let dataJson = JSON.stringify(data, null, 4)
      document.getElementById("apiGetResult").innerHTML = dataJson
      })
    .catch(function(err) {
      let errorDict = {"error" : "Unable to query API", "errorDetails" : {} }
      errorDict["errorDetails"] = {
        "exception" : err.name,
        "message" : err.message
      }
      console.log(errorDict)
      let errorJson = JSON.stringify(errorDict, null, 4)
      document.getElementById("apiGetResult").innerHTML = errorJson
    })

    return false // done to prevent reload of page
}</code></pre>

          <!-- Python example -->
          <br><br><h4>Python</h4><br>
          <pre class=".pre-scrollable" style="max-width: 80%;"><code>import urllib.request, json
with urllib.request.urlopen('http://monsternames-api.com/api/v1.0/orc') as response:
  responseText = response.read()
  print(json.loads(responseText))</code></pre>

          <!-- Bash example -->
          <br><br><h4>Bash</h4><br>
          <pre class=".pre-scrollable" style="max-width: 80%;"><code>curl  http://monsternames-api.com/api/v1.0/orc</code></pre>
      </div>

    </div>
    </div>
    </div>



  </body>
</html>