<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- load bootstrap-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Our CSS -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/home.css') }}">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-primary"> </nav>
    <div class="container-fluid">
    <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><p>monsternames-api</p></li>
        <li class="active"><a href= "{{ url_for('home') }}" >Home</a></li>
        <li><a href="https://github.com/Sudoblark/monsternames-api">Git Repo</a></li>
        <li><a href= "{{ url_for('endpoints') }}" >Endpoints</a></li>
        <li><a href="{{ url_for('contribute') }}" >Contribute</a></li>
    </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <!-- Main body for content -->
    <h3> Open source monster name generation for all your creative needs.</h3>
      <br>
    <p>Check out the <a href= "{{ url_for('endpoints') }}" >endpoints</a> available for name generation or try it out yourself below.</p>

  <!-- Example endpoint -->
      <!-- TO DO: select when each GET endpoint along with get button and example json -->
 <form class="form-inline" action="/action_page.php">
  <div class="form-group">
    <label for="endpoint"></label>
    <pre id="endpoint">http://monsternames-api.com/api/v1.0/orc</pre>
  </div>
  <button type="submit" class="btn btn-default">GET!</button>
</form> 

  <!-- Result -->
<div>
  <pre>
    {
      "firstName": "Pot",
      "fullName": "Pot The ugly",
      "lastName": "The ugly"
    }
  </pre>
</div>

    <p>Have a funny name stuck in your head, an idea for a naming schema or figured some more endpoints would be cool? Have a gander at how to <a href="{{ url_for('contribute') }}" >contribute</a>.</p>

    </div>
    </div>
    </div>



  </body>
</html>